# Meilisearch Configuration
VITE_MEILISEARCH_HOST=https://search.bettergov.ph
VITE_MEILISEARCH_PORT=443
VITE_MEILISEARCH_SEARCH_API_KEY= # Meilisearch Search API Key

# Cloudflare Configuration
BETTERGOV_ACCOUNT_ID= # Cloudflare Account ID
BETTERGOV_BROWSER_KV_ID= # Browser KV Namespace ID
BETTERGOV_FOREX_KV_ID= # Forex KV Namespace ID  
BETTERGOV_WEATHER_KV_ID= # Weather KV Namespace ID

# API Keys
WEATHER_API_KEY= # Weather API key
OPENWEATHERMAP_API_KEY= # OpenWeatherMap API key
FOREX_API_KEY= # Forex API key
JINA_API_KEY= # Jina.ai API key
CF_ACCOUNT_ID= # Cloudflare Account ID (for Browser API)
CF_API_TOKEN= # Cloudflare API Token (for Browser API)